* {font-family : Verdana, sans-serif;
   font-size : 10pt;}
table {
	margin-left : 20px;
}

body {
	background-color : #FFFFFF;
	color : #000000;
}

p {
	text-indent : 20px;
}

h1 {
	text-align : center;
	font-size : 16pt;
	font-weight : bold;
	text-decoration : underline;
	font-color : #008000;
}

h2 {
	text-align : left;
	font-size : 12pt;
	font-weight : bold;
	text-decoration : none;
	font-color : #000000;
};

div.dirlinks {
	display : block;
	color : #800000;
	text-decoration : none;
	font-weight : light;
}

a, a:link, a:visited, a:active, a:hover {
	display : inline;
	color : #000080;
	text-decoration : underline;
}

a.dirlink {
	display : inline;
	color : #800000;
	text-decoration : underline;
	font-variant : small-caps;
}

li.subdir {
	list-style-image : url(/dirbullet.gif);
	list-style-position : inside;
}

pre {
	font-family : Courier New, monospace;
	font-size : 10pt;
	margin-left : 10px;
	margin-right : 10px;
	background-color : #E0E0E0;
}

pre i {
	font : italic 10pt;
	font-family : Courier New, monospace;
	font-size : 10pt;
	background-color : #E0E0E0;
}