body {
	background-color:		Window;
	color:			WindowText;
	font-family:		Verdana,sans-serif;
	font-size:			12pt;
}

a {
	text-decoration:		none;
	padding:			0 4px 0 4px;
}

a:link,a:focus,a:visited {
	color:			ActiveCaption;
}

a:hover {
	border:			2px 2px 2px 2px;
	border-top-color:		ButtonHighlight;
	border-left-color:	ButtonHighlight;
	border-right-color:	ButtonShadow;
	border-bottom-color:	ButtonShadow;
	background-color:		ButtonFace;
	color:			ButtonText;
	padding:			0 2px 0 2px;
	border-style:		solid;
}

a:active {
	color:			ButtonText;
	border:			2px 2px 2px 2px;
	border-top-color:		ButtonShadow;
	border-left-color:	ButtonShadow;
	border-right-color:	ButtonHighlight;
	border-bottom-color:	ButtonHighlight;
	background-color:		ButtonFace;
	padding:			0px 2px 0px 2px;
	border-style:		solid;
}

p {
	padding:			0 0 0 0;
	margin:			0 0 0 0;
	text-indent:		36pt;
}

img {
	border:			0 0 0 0;
	padding:			5pt;
	margin:			0;
}

h1 {
	font-weight:		bold;
	text-align:			center;
	font-size:			18pt;
}

h1 b {
	font-weight:		normal;
}

h2 {
	font-weight:		bold;
	font-size:			16pt;
}

h3,h4,h5,h6,h7,h8 {
	font-weight:		bold;
	font-size:			14pt;
}

hr {
	width:			185px;
	text-align:			center;
}

dl {
	padding:			0 0 0 0;
	margin:			0 0 0 0;
}

dt {
	font-weight:		bold;
	margin:			0 0 0 36pt;
}

dt b {
	font-weight:		normal;
}

dd {
	margin:			0 0 0 72pt;
}

table {
	border:			0 0 0 0;
}

select {
	background-color:		inherit;
	cursor:			pointer;
	font-family:		inherit;
	font-size:			smaller;
	vertical-align:		middle;
}

option {
	cursor:			pointer;
}